{{ "forestMap.css" | asset_url | stylesheet_tag }}
{{ "forestGoogleMap.js" | asset_url | script_tag }}

<div>
  <div class="map-container">
    <h1 class="feature-2-map-slider-title">Feature 1 - Dropdown Menu</h1>
    <div id="map"></div>
  </div>
</div>

<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvbBZMdQ710YM1aSpZf8GGAQpBEnhMOi8&callback=initMap"
    defer
></script>

{% schema %}
  {
    "name": "Feature 1 - Dropdown Menu",
    "settings": [
      {
        "type": "text",
        "label": "Headline",
        "id" : "headline"
      }
    ],
    
    "presets": [{
        "name": "Forest"
      }
    ]
  }
{% endschema %}
