{{ "forestMap.css" | asset_url | stylesheet_tag }}
{{ "forestGoogleMap.js" | asset_url | script_tag }}
<div>
  <h1 color : red>{{ section.settings.headline }}</h1>
  
  {% for block in section.blocks %}
    <img src ={{ block.settings.image_1 |image_url: width:50, height:50}} alt=""/>

  {% endfor %}
</div>
<!-- <gmp-map
      center="-37.72019620201051, 145.04690113680994"
      zoom="15"
      map-id="DEMO_MAP_ID"
      style="height: 400px"
>
<gmp-advanced-marker
        position="-37.72019620201051, 145.04690113680994"
        title="La Trobe University"
></gmp-advanced-marker> 
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvbBZMdQ710YM1aSpZf8GGAQpBEnhMOi8&libraries=maps,marker&v=beta"
      defer
></script> -->
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvbBZMdQ710YM1aSpZf8GGAQpBEnhMOi8&callback=initMap"
  defer>
</script>
<div id="test1">
  <h1>This is a test</h1>
</div>
{% schema %}
  {
    "name": "Forest",
    "settings": [
      {
        "type": "text",
        "label": "Headline",
        "id" : "headline"
      }
    ],
    "blocks": [
      {
        "name" : "image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "image"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Forest"
      }
    ]
  }
{% endschema %}