
<div width: 100% height: 450px>
  <h1>{{ section.settings.headline }}</h1>
  
  {% for block in section.blocks %}
    <img src ={{ block.settings.image_1 |image_url: width:50, height:50}} alt=""
        width="100"
        height = "100"/>

  {% endfor %}
</div>
   
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvbBZMdQ710YM1aSpZf8GGAQpBEnhMOi8&libraries=maps,marker&v=beta"
      defer
    ></script>
  

{% schema %}
  {
    "name": "Forest",
    "settings": [
      {
        "type": "text",
        "label": "Headline",
        "id" : "headline"
      }
    ],
    "blocks": [
      {
        "name" : "image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "image"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Forest"
      }
    ]
  }
{% endschema %}