/* Adjusted CSS for better spacing management */

.feature-2-map-slider-title {
  font-size: 2em; 
  color: #333;    
  padding: 10px 0; /* Reduced padding to minimize space */
  text-align: center; 
  margin: 0; /* Remove default margin if not needed */
}

.feature-2-map-slider-description {
  font-size: 1.2em; 
  color: #666;      
  padding: 10px 0; /* Adjusted padding for spacing */
  text-align: center;
  margin: 0 0 20px 0; /* Adjust bottom margin to space elements */
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0; /* Removed margin to reduce excess spacing */
}

#map {
  width: 33.33vw; 
  max-width: 900px; 
  min-width: 300px; 
  
  height: 0;
  padding-bottom: 66.67%; 
  
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  
  margin: 0; /* Removed margin to reduce excess spacing */
  padding: 0; /* Removed padding to avoid extra space */
}
