#map {
  width: 100%; 
  max-width: 90%; 
  height: 500px;
  margin: 0 auto; 
  border-top: 30px solid transparent; 
  border-bottom: 30px solid transparent; 
}

#test1 h1{
  width: 300px;
  height: 200px;
  color: red;
  position: relative;
}

img{
  width: 80px;
  height: 60px;
}

.context-menu {
  position: fixed;
  background: #fff;
  z-index: 9999999;
  width: 150px;
  top: 0;
  left: 0;
  box-shadow: 0 0 6px tgba(0,0,0,0.2);
}
.menu {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  width: 30px;
}

.menu.active {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 8px 15px;
  width: auto;
}
.price-tag {
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}